@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply focus:outline-none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Montserrat";
    line-height: 1.4em;
}

.App{
    background-image: url("./images/appbg.jpg");
}

.taskManagerBg{
    background-image: none;
    background-color: rgb(209, 222, 150);
}

.app-bg-cover{
    transition: .7s ease-in-out;
    @apply bg-white hover:bg-opacity-50 bg-opacity-70 backdrop-blur-md hover:backdrop-blur-sm
}

.font-serif{
    font-family: "Metal" !important;
}